body {
    /*margin: auto;*/
    width: 800px;
    background-color: #E7E7E7;
    margin-left: 1cm;
    margin-top: 1cm;
}

img {
    border-style: none;
}

.b {
    font-weight: bold;
}

.middleficated {
    text-align: center;
    font-weight: bold;
}

.project-title {
    font-weight: bold;
}

.project-image-inline {
    float: right;
    margin-bottom: 1cm;
}

.project-image-row {
    text-align: center;
    padding-left: 0px;
}

.project-image-row li {
    display: inline-block;
}

.project-section {
    clear: both;
    margin-bottom: 1cm;
}